<!-- Add team form -->
<div>
<button mat-button (click)="openAddTeamDialog()">Add New Team</button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Table columns -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let team">
      <ng-container [ngSwitch]="column">
        <input type="text" *ngSwitchCase="'name'" [(ngModel)]="team.name" [disabled]="!team.editMode">
        <input type="number" *ngSwitchCase="'wins'" [(ngModel)]="team.wins" [disabled]="!team.editMode">
        <input type="number" *ngSwitchCase="'losses'" [(ngModel)]="team.losses" [disabled]="!team.editMode">
        <input type="number" *ngSwitchCase="'pointsScored'" [(ngModel)]="team.pointsScored" [disabled]="!team.editMode">
        <input type="number" *ngSwitchCase="'pointsAllowed'" [(ngModel)]="team.pointsAllowed" [disabled]="!team.editMode">
        <span *ngSwitchCase="'pointDifferential'">{{ team.pointsScored - team.pointsAllowed }}</span>
        <ng-container *ngSwitchCase="'actions'">
          <button (click)="toggleEditMode(team)" [disabled]="team.editMode">Edit</button>
          <button (click)="saveChanges(team)" [disabled]="!team.editMode">Save</button>
          <button (click)="deleteTeam(team)">Delete</button>
        </ng-container>
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let team; columns: displayedColumns;"></mat-row>
</mat-table>
